* {
    margin: 0;
    padding: 0;
}
:root {
    --secondary-color: rgb(255, 166, 0);
}

body {
    text-align: center;
    height: 100vh;
    background: url('assets/backgournd_weather.jpg');
    background-position: center;
    overflow: hidden;
    backdrop-filter: brightness(50%);
}

h1 {animation: fadeIn 5s infinite; 
    font-weight: normal;
    font-size: 34px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 60px;
    color: white;
}
@keyframes fadeIn {
    0% {opacity: 0; }
    50% {opacity: 5;}
    100% {opacity: 0;}
}

#search {
    padding: 5px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color), 0 0 25px var(--secondary-color);
    margin-top: 5px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    border-color: var(--secondary-color);
}

#search:hover {
    box-shadow: 0 0 5px var(--secondary-color),
    0 0 25px var(--secondary-color), 0 0 50px var(--secondary-color),
    0 0 100px var(--secondary-color), 0 0 200px var(--secondary-color);
}

/* header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    position: relative;
    font-size: 20px;
} */

.address {
    border: 1px solid black;
    height: 500px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 10px;
}

input {
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    height: 20px;
    line-height: 30px;
}


/* .weather-data { animation: fadeIn 2s infinite; }
@keyframes fadeIn {
    0% {opacity: 0; }
    50% {opacity: 5;}
    100% {opacity: 0;}
} */